{% extends 'base.html' %}

{% block content %}
<div class="container about">
    <h1>Наша компания</h1>
    <p>Наша компания занимается не только оптовой и розничной продажей багета. У нас имеется багетная мастерская, где по вашему заказу могут быть проведены любые багетные работы, связанные как с оформлением новых картин, гравюр или вышивок, так и с переделкой старых.</p>
    <p>Вам требуется изготовить раму для картины из имеющегося у нас багета? Нужно вырезать многооконное паспарту для оформления офисного стенда? Или, может быть, требуется оформить в багет и поместить под стекло вышитую вами картину, над которой вы трудились несколько месяцев? Наша багетная мастерская срочно выполнит любой из ваших заказов на самом высоком профессиональном уровне!</p>
    
    <h1>Наша деятельность</h1>
    <p>Имея дело с произведениями искусства, с высокохудожественными изделиями и просто с вещами, которые очень дороги их владельцам, нельзя подходить к своей работе сугубо формально. Требуется настоящая заинтересованность и влюбленность в свою работу. Только тогда изпод рук мастеров станут выходить настоящие шедевры, которые долгие годы будут радовать своих владельцев, а сотрудникам нашей мастерской дадут повод гордиться профессионально выполненной работой.</p>

    <p>Поделиться: </p>
    <div class="ya-share2" data-curtain data-shape="round" data-color-scheme="whiteblack" data-services="vkontakte,telegram,viber,whatsapp"></div>
</div>
<script src="https://yastatic.net/share2/share.js"></script>
{% endblock %}
