{% extends 'base.html' %}

{% block content %}
<div class="contacts map">
    <h2>Схема проезда</h2>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae9252b4aaa41eea98e3d2557c701f5c5df94be52df0bf27a12b4757f30ab17f3&amp;width=700&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
<div class="container">
    <div class="contacts">
        <h2>Контакты</h2>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <p>e-mail: bagetmaster@gmail.com</p>
                <p>Телефон: 8(800)555-35-35</p>
                <p>Telegram:  <a href="https://t.me/bagetmaster">t.me/bagetmaster</a></p>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
{% endblock %}
