{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>"{{ frame.name }}"</h1>
    <h2>Цена: {{ frame.cost }}₽</h2>
    <p>{{ frame.amount }} items left.</p>

    <p>Напишите отзыв:</p>
    <form action="{% url 'workshopapp:frame' frame.id %}" method="post">
        {% csrf_token %}
        <input id="review_content" type="text" name="review_content">
        <input type="submit" value="Отправить">
    </form>

    <p>Отзывы:</p>

    {% for review in reviews %}
        <hr>
        <p>{{ review.author|default_if_none:'Аноним' }}, {{ review.created_at|date:'Y-m-d H:i' }}</p>
        <p>{{ review.content }}</p>
    {% empty %}
        <p>Пока отзывов нет.</p>
    {% endfor %}
</div>
{% endblock %}
