{% extends 'base.html' %}

{% block content %}
    <p>{{ frame.name }} costs {{ frame.cost }}</p>
    <p>{{ frame.amount }} items left.</p>

    <p>Напишите отзыв:</p>
    <form action="{% url 'workshopapp:frame' frame.id %}" method="post">
        {% csrf_token %}
        <input id="review_content" type="text" name="review_content">
        <input type="submit" value="Отправить">
    </form>

    <p>Отзывы:</p>

    {% for review in reviews %}
        <hr>
        <p>{{ review.created_at }}</p>
        <p>{{ review.content }}</p>
    {% empty %}
        <p>Пока отзывов нет.</p>
    {% endfor %}
{% endblock %}
